.Skill{
    height: 20px;
    width: 10%;
    min-width: fit-content;
    padding: 10px;
    text-align: center;
    background-color: teal;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5%;
    box-shadow: 2px 2px 10px 2px gray;
}

.Dark.Skill{
    background-color: rgba(62, 120, 219, 0.289);
    box-shadow: 1px 1px 10px 3px rgb(156, 84, 143);
}

.Skill p{
    margin: 0;
    padding: 0;
}

@media (max-width: 500px) {
    .Skill{
        padding:5px;
        width: 60%;
    }
    
}