.Light {
    /* background-image: linear-gradient(#795feb60, #85312e52), url("./assets/images/portfolio-background.jpg") ; */
    background-image: linear-gradient( #acebeb93, #58c3ba93), url("../../assets/images/portfolio-background2.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    /* background-attachment: fixed; */
  }

  .Dark{
    background-image: linear-gradient(#32217e60, #110d0d52), url("../../assets/images/portfolio-background2.jpg") ;
    
  }

  .LandingPage{
      width: 100%;
      height: 100vh;
  }

/* Dark mode toggle */

.DMToggle{
  position: relative;
  margin: 10px;
  display: inline-block;
  width: 130px;
  height: 40px;
  border: 2px solid black;
  box-sizing: border-box;
}

.Dark .DMToggle{
  border: 2px solid rgb(74, 29, 88);
}

.DMToggle:hover{
  cursor: pointer;
}

.DMToggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.ToggleContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  z-index: 1000;
}

.Dark .ToggleContainer{
  color: rgb(207, 168, 219);
}

.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.Slider:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.486);
  -webkit-transition: .4s;
  transition: .4s;
}

.DMToggle input:checked + .Slider:before{
  transform: translateX(100%);
  background-color: rgba(148, 45, 167, 0.431);
}



/* ---------------------- */
.Title{
  padding: 10px 30px 30px 30px !important;
}

.Text{
  text-align: center;
}

.Light h1{
    text-align: center;
    color: rgb(17, 36, 37);
    padding: 30px;
    margin: 0;
    font-weight: 100;

  }
  
  .Dark h1{
    color: rgb(207, 168, 219);
  }

  
.Light h2{
  text-align: center;
  color: rgb(17, 36, 37);
  margin: 0;
  font-weight: 100;
}



.Dark h2{
  color: rgb(207, 168, 219);
}

.Light h3{
  text-align: center;
  color: rgb(17, 36, 37);
  margin: 0;
  font-weight: 100;

}

.Dark h3{
  color: rgb(207, 168, 219);
}



.Light p{
  color: rgb(17, 36, 37);
}

.Dark p{
  color: rgb(207, 168, 219);
}

.Bulb{
  display: none;
}

.ToTop{
  border: 1px solid black;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 35px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

}

.ToTop:hover{
  cursor: pointer;
  border: 2px solid black;
  box-sizing: border-box;
}

.Dark .ToTop{
  border: 1px solid white;
  color: white;
}

.Dark .ToTop:hover{
  border: 2px solid white;
}

.Arrow{
  transform: rotate(90deg);
}

.Menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 30px;
  background-color: black;
}

@media (max-width: 500px) {

    .Title{
      padding-top: 200px !important;
    }

    h1{
        font-size: 1rem;
    }
    h2{
      font-size: 0.8rem;
    }

    h3{
      font-size: 0.72rem;
    }

    p{
      font-size: 0.65rem;
    }

    .Bulb{
      display: block;
      position: fixed;
      right: 0;
      top: 0;
      font-size: 3rem;
      transform: rotate(-150deg);
      color: black;
    }

    .Dark .Bulb{
      color: yellow;
    }

    .DMToggle{
      display: none;
    }

    
}