.Light {
    /* background-image: linear-gradient(#795feb60, #85312e52), url("./assets/images/portfolio-background.jpg") ; */
    background-image: linear-gradient( #acebeb93, #58c3ba93), url("../../assets/images/portfolio-background2.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    /* background-attachment: fixed; */
  }

  .Dark{
    background-image: linear-gradient(#32217e60, #110d0d52), url("../../assets/images/portfolio-background2.jpg") ;
    
  }

  .LandingPage{
      width: 100%;
      height: 100vh;
  }

/* Dark mode toggle */

.DMToggle{
  
  position: relative;
  display: inline-block;
  width: 90px;
  height: 30px;
  box-sizing: border-box;
}

.DMToggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.Test{
  background-image: url("../../assets/images/day-and-night.svg");
  background-size: 100px 82px;
  background-repeat: no-repeat;
  width: 100px;
  height: 60px;
  
}

.Slider {

  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.Slider:before {
  position: absolute;
  content: "";
  height: 80%;
  width: 50%;
  margin: 3%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.DMToggle input:checked + .Slider{
  background-color: blueviolet;
}
  
.DMToggle input:focus + .Slider{
  box-shadow: 0 0 1px #2196F3;
}

.DMToggle input:checked + .Slider:before{
  transform: translateX(85%);
}

/* ---------------------- */

.Light h1{
    text-align: center;
    color: rgb(17, 36, 37);
    padding: 30px;
    margin: 0;
  }
  
  .Dark h1{
    color: rgb(207, 168, 219);
    font-weight: 100;
  }



.Light p{
  color: rgb(17, 36, 37);
}

.Dark p{
  color: rgb(207, 168, 219);
}

@media (max-width: 500px) {
    h1{
        font-size: 0.9rem;
    }
}