.Projects{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 500px) {
    .Projects{
        height: 75%;
        flex-direction: column;
        align-items: center;
    }

    .MoreProjects{
        display: flex;
        flex-direction: row;
    }

    
}