.Contact{
    width: 100%;
    height: 100vh;
}

.ContactContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
    padding: 0 15px;
    box-sizing: border-box;
}

.Dark{
    background-image: linear-gradient(to bottom,#271f49, #331136);
}


.Light{
    background-image: linear-gradient(to bottom, #35929b7e, #9ce2dc93) ;
}

@media (max-width: 500px) {
    .ContactContainer{
        flex-direction: column;
    }
    
}